<h1 class="secure">
  Área segura (HTTPS)
</h1>
<div data-no-turbolink>
  <p>
    <%= link_to 'Área insegura via HTTP (não causa redirecionamento)', insecure_area_url(protocol: 'http') %>
  </p>
  <p>
    <%= link_to 'Área insegura via HTTPS (causa redirecionamento)', insecure_area_url(protocol: 'https') %>
  </p>
</div>
