<!DOCTYPE html>
<html lang='pt-BR'>
<head>
  <title>Demo HTTPS Rails - por Alex Braha Stoll - HE:labs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
